@page "/projects"
@using PortfolioWebsite.Models

<h3>Projects</h3>
@foreach (var project in _detailedProjects)
{
    <div>
        <h4>@project.Name</h4>
        <p>@project.Description</p>
        <img src="@project.ImageUrl" alt="@project.Name" />
        <p>@project.Details</p>
    </div>
}

@code {
    private readonly List<Project> _detailedProjects =
    [
        new Project { Name = "Project 1", Description = "Description 1", ImageUrl = "image1.jpg", Details = "Detailed description of project 1" },
        new Project { Name = "Project 2", Description = "Description 2", ImageUrl = "image2.jpg", Details = "Detailed description of project 2" }
    ];
}
